.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  background-color: #0090B0;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  color: white;
  margin-top: -2px;
  position: relative;
}

.logo h2 {
  margin: 0;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navLinks ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.navLinks li {
  cursor: pointer;
  font-size: 19px;
  font-weight: 500;
  transition: color 0.3s;
}
.navLinks li:hover {
  color: #ee0038bb;
  transform: scale(1.05);
}

.navLinks button {
  padding: 10px 20px;
  background-color: white;
  color: rgb(0, 144, 176);
  border: none;
  font-weight: 500;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.6s ease, color 0.6s ease;
}

.navLinks button:hover {
  background-color: #ee0038bb;
  color: white;
}

.menuIcon {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
}

/* Media Query */
@media (max-width: 768px) {
  .navContent {
    flex-direction: row;
    justify-content: space-between;
  }

  .menuIcon {
    display: block;
  }

  .navLinks {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #0090B0;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    display: none;
  }

  .navLinks.active {
    display: flex;
  }

  .navLinks ul {
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .navLinks button {
    margin-top: 15px;
  }
}